{% extends 'base.html' %}
{% block title %}  Categories !!{%endblock%}
{% block content %}
<div class="scroll">
{% if category_posts %}
<h1>All {{ cats }} Post</h1>

<ul>
    {% for post in category_posts %}
    <li><a href="{% url 'article-detail' post.pk %}"><h3>{{ post.title }}</h3></a> -
        {{ post.author.first_name }}
        {{ post.author.last_name }}|
        {{ post.post_date }}|
        {{ post.post_time }}
        <p class="card-text">{{post.snippet}}</p>
                    {% if post.header_image %}
                    <img height="100%" src="{{ post.header_image.url }}" width="100%"><br>
                    {% endif %}
        {% if user.is_authenticated %}
        <small><a href="{% url 'update_post' post.pk %}">(Edit Post)</a>
            <a href="{% url 'delete_post' post.pk %}">(Delete Post)</a>
        </small> <br/>
        {% endif %}

    </li>
<hr>
    {% endfor %}
</ul>
{% else %}
<h1>Category Post not found!!!</h1>
{% endif %}
</div>
{% endblock %}