{% extends 'base.html' %}
{% block title %}  Make a blog !!{%endblock%}
{% block content %}
<div class="scroll">
    <ul >

            {% for post in object_list %}
            <div class="card crd " style="width: 50rem; margin-bottom:30px; border:4px solid; border-color:#fa8405;background-color:#fff566">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h2>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ post.author.first_name }}
                        {{ post.author.last_name }}<br>
                        {{ post.post_date }}|
                        {{ post.post_time }}<br></h6>
                    <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a><br>
                    <p class="card-text">{{post.snippet}}</p>
                    {% if post.header_image %}
                    <img height="100%" src="{{ post.header_image.url }}" width="100%"><br>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <small><a href="{% url 'update_post' post.pk %}">(Edit Post)</a>
                        <a href="{% url 'delete_post' post.pk %}">(Delete Post)</a>
                    </small> <br/>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}

    </ul>
</div>
{% endblock %}